<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CRUD Node.js</title>
</head>
<body class="bg-gray-200">
     <nav class="flex py-5 bg-green-500 text-white px-24">
      <div class="w-1/2 px-12 mr-auto">
        <p class="text-2xl font-bold">My Application</p>
      </div>

      <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
        <li class="nav-item px-4">
          <a href="/tasks" class="nav-link font-semibold hover:bg-green-700 py-3 px-4 rounded-md">My tasks</a>
        </li>

        <li class="nav-item px-4">
          <a href="/create" class="nav-link font-semibold border-2 border-white hover:text-green-700 
            hover:bg-white py-3 px-4 rounded-md">Add task</a>
        </li>
      </ul>
    </nav>
</body>
</html>

{{{body}}}